<!DOCTYPE html>
<html ng-app="FoodieApp">
  <head>
    <meta charset="utf-8">
    <!-- until we think of a better name! -->
    <title>Foodie Path</title>

    <!-- Fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <link rel="stylesheet" href="./css/main.css">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js" charset="utf-8"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="./js/app.js" charset="utf-8"></script>

  </head>
  <body ng-controller="FoodieController as lead">

    <!-- Navbar Section -->
    <section id="navbar" ng-include="'./nav.html'"></section>

    <header id="siteHeader">


    <h1>Foodie Path</h1>

    <!-- <h2>{{lead.foodie}}</h2> -->

    <button class="btn btn-lg btn-success">Restaurant Search</button>
    <button class="btn btn-lg btn-error">Post Review</button>
</header>
<nav>
          <%# <li>I'd like to make a recommendation</li>
          <li>I'd like to request a recommendation</li>
          <li>See my recommendations</li>%>
          <form>
            <input type="button" value="Login" onclick="window.location.href='/sessions/login'"/>
            <input type="button" value="Register" onclick="window.location.href='/sessions/register'"/>
            <%# <input type="button" value="My Account" onclick="window.location.href='/users/account'"/>
            <input type="button" value="Users" onclick="window.location.href='/users'"/>
            <input type="button" value="Recommendations" onclick="window.location.href='/recs'"/>%>
          </form>

          <%# <li><a href="/sessions/logout">Logout</a></li>%>
      </nav>
<!-- Login Logout -->
<% if(currentUser) { %>
<form action="/sessions?_method=DELETE" method="POST">
<input type="submit" value="Logout"/>
</form>
<% } %>
<!-- Profile Section -->
      <!-- <section id="profile" ng-include="'./profile.html'"></section> -->
  </body>
</html>
