* {
  /* border: 1px solid hotpink;
  background-color: #39487f; */
}

#siteHeader {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  padding-top: 3.5%;
}

#navA{
  padding-left: .5em;
  padding-right: .5em;
}

#createProfileBtn {
  margin-bottom: 2em;
  justify-content: center;
}

#submitProfileCreation {
  margin-bottom: 2em;
/* figure out how to center this */
}

.form-group {
  width: 75%
  margin: 0 auto;
  text-align: right;
}

.form-horizontal {
  border: 5px solid #A9A9A9;
  padding: .25em;
  margin: .75em;
}

.form-label {
  padding-right: .25em;
}

#profileHeader {
  margin: 0 auto;
  text-align: center;
}

#commentTitle {
  position: absolute;
  /* align-self: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto; */
  /* color: white; */
}

div.tile {
  padding-top: 2em;
}

.panel {
  width: 46%;
  height: auto;
  height: 45em;
  overflow: scroll;
}

#panelLeft {
  float: left;
  margin-left: 2.5%;
  text-align: center;
  margin-bottom: 5em;
}

#panelRight {
  float: right;
  margin-right: 2.5%;
  margin-bottom: 5em;
}

.tile {
  padding: .5em;
  margin-top: 1em;
  /* height: 200px; */
    position: relative;
    /* border: 6px gray; */
    margin-bottom: 1em;
}

.tile-content {
  margin-left: 1em;
  /* justify-content: flex-start; */
}

.tile-title {
  margin-bottom: .35em;
}

.tile-icon {
  line-height: 100px;
    /* height: 200px; */
    /* border: 3px solid green; */
    /* text-align: center; */
     margin: auto;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */ */
}

li {
	list-style: none;
  /* top: 0; */
}
