* {
  /* border: 1px solid hotpink;
  background-color: #39487f; */
}

#siteHeader {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  padding-top: 3.5%;
}

#navA, #navB, #navC {
  padding-left: .5em;
  padding-right: .5em;
}

.panel-header {
  text-align: center;
}

.panel {
  width: 46%;
  height: auto;
  text-align: center;
}

#panelLeft {
  float: left;
  margin-left: 2.5%;

}

#panelRight {
  float: right;
  margin-right: 2.5%;

}

li {
	list-style: none;
  top: 0;
}
