<div ng-controller="ProfileController as profile">
<br><br><br>

<header id="profileHeader">
    <button class="btn btn-lg btn-primary" id="createProfileBtn" type="submit" ng-click="profile.toggleNew();">Create Profile</button>
    <br>
</header>

  <!-- Create User Profile Form -->
  <div ng-if="profile.newDisplay">
    <form class="form-horizontal">
      <h1>Create Your Profile</h1>
          <div class="form-group">
            <div class="col-3">
              <label class="form-label" for="input-example-1">Email</label>
            </div>
            <div class="col-6">
              <input class="form-input" type="text" ng-model="profile.email" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <div class="col-3">
              <label class="form-label" for="input-example-1">Alias</label>
            </div>
            <div class="col-6">
              <input class="form-input" type="text" ng-model="profile.alias" placeholder="Alias... aka Julia Child?">
            </div>
          </div>

          <div class="form-group">
            <div class="col-3">
              <label class="form-label" for="input-example-1">Headline</label>
            </div>
            <div class="col-6">
              <input class="form-input" type="text" ng-model="profile.headline" placeholder="Headline Announcing Your Foodie Presence">
            </div>
          </div>

          <div class="form-group">
            <div class="col-3">
              <label class="form-label" for="input-example-1">Bio</label>
            </div>
            <div class="col-6">
              <input class="form-input" type="text" ng-model="profile.bio" placeholder="Short bio about your foodie side">
            </div>
          </div>

          <div class="form-group">
            <div class="col-3">
              <label class="form-label" for="input-example-1">Diet Preference</label>
            </div>
              <div class="col-6">
  <select class="form-select">
    <option>Choose an option</option>
    <option>Vegan</option>
    <option>Paleo</option>
    <option>Keto</option>
    <option>Gluten-free</option>
    <option>Whole 30</option>
  </select>
    </div>
</div>


</form>
  </div>

  <div class="panel" id="panelLeft">

    <div class="panel-header">
      <br>
      <figure class="avatar avatar-lg">
        <img src="assets/if_FI02_20226.png" alt="JS">
        <i class="avatar-presence online"></i>
        <br>
      </figure>

      <h2 class="panel-title">Jen Schumann</h3>
      <h3 class="text-uppercase">The Carnivore</h3>
      <h5 class="text-italic"><em>{{profile.persona}}</em></h5>
      <div class="divider"></div>
    </div>


    <div class="panel-nav">
      <!-- navigation components: tabs, breadcrumbs or pagination -->

      <ul class="tab tab-block">
            <li class="tab-item active">
            <a href="#" ng-click="userProfile = ! userProfile">Profile</a>
            </li>

            <li class="tab-item">
              <a href="#" ng-click="userFiles = ! userFiles">Files</a>
            </li>

            <li class="tab-item">
            <a href="#" ng-click="userTasks = ! userTasks">Tasks</a>
            </li>
      </ul>

    </div> <!-- end panel-nav -->
    <br><br>
    <div class="panel-body">
      <!-- contents -->
          <section id="userProfile" ng-hide="userProfile">

            <h5><strong>About:</strong>Experiments mostly w/Paleo diet and you can follow my foodie pinterest board <a href="https://www.pinterest.com/jennifergeeslin/eat-me/" target="_blank">here.</a></h5>

            <h5><strong>Fave Recipes:</strong></h5>
            <ul>
              <li><a href="https://www.cookingclassy.com/zuppa-toscana-soup-olive-garden-copycat-recipe/" target="_blank">Zuppa Toscana Soup</a></li>

              <li><a href="https://www.skinnybitch.net/cabbage-soup-diet/" target="_blank">Cabbage Soup</a></li>
            </ul>

            <h5><strong>Fave Restaurants:</strong></h5>
            <ul>
              <li>Goat & Clover Tavern</li>
              <li>Bin 707</li>
              <li>The Winery</li>
            </ul>

          </section>

          <section id="userFiles" ng-show="userFiles">

              <h1>tab two content</h1>

          </section>

          <section id="userTasks" ng-show="userTasks">

              <h1>tab three content</h1>

          </section>

    </div><!-- end panel-body -->

    <div class="panel-footer">
      <!-- buttons or inputs -->
        <div class="btn-group btn-group-block">
              <button class="btn btn-error">Update</button>
              <button class="btn btn-success">Delete</button>
        </div>
        <button class="btn btn-primary btn-block">Save</button>
      </div> <!-- end panel-footer -->
    </div> <!-- end panelLeft -->



  <div class="panel" id="panelRight">
    <div class="panel-header">

      <div class="panel-title" id="commentTitle">Comments</div>


    </div>

    <div class="tile">

      <div class="tile-icon">
          <figure class="avatar avatar-lg">
          <img src="assets/if_22_smiley_2659963.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>
      </div>

      <div class="tile-content">
        <p class="tile-title">Smoking It</p>
        <p class="tile-subtitle text-gray">Getting my husband a smoker for Father's Day ended up being the smartest gift I EVER got him.</p>


      <!-- add pencil icon as button for user to make comments on each others' posts.  Make this icon have a popover which explains its purpose -->
      <!-- <div class="tile-action">
        <button class="btn btn-primary">Comment</button>
      </div> -->
    </div>
    </div>
    <br><br>

    <div class="tile">
      <div class="tile-icon">
          <figure class="avatar avatar-lg">
          <img src="assets/if_ninja_479478.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>
      </div>
      <div class="tile-content">
        <p class="tile-title">Keto Katana</p>
        <p class="tile-subtitle text-gray">Check out my e-book about how to start on a keto diet by clicking <a>here</a>.</p>
      </div>
    </div>
    <br><br>

    <div class="tile">
      <div class="tile-icon">
          <figure class="avatar avatar-lg">
          <img src="assets/if_5_smiley_2659946.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>
      </div>
      <div class="tile-content">
        <p class="tile-title">Paleo Caveman</p>
        <p class="tile-subtitle text-gray">Do I have to eat veggies with my meat if my wife adds "green" powder to the smoothie she makes me drink every damn morning?</p>
      </div>
    </div>
    <br><br>


    <div class="tile">
      <div class="tile-icon">

          <figure class="avatar avatar-lg">
          <img src="assets/if_8_2694142.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>



      </div>
      <div class="tile-content">
        <p class="tile-title">Whole 30 Seconds</p>
        <p class="tile-subtitle text-gray">Tip for coming off the Whole30: Don't binge eat everything you've missed the first day unless you wanna be visiting the porcelain god for about the next 48 hours!</p>
      </div>
    </div>
<br><br>


    <div class="tile">
      <div class="tile-icon">

          <figure class="avatar avatar-lg">
          <img src="assets/if_4_avatar_2754580.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>



      </div>
      <div class="tile-content">
        <p class="tile-title">Smoothie Star</p>
        <p class="tile-subtitle text-gray">What is your favorite smoothie powder & why?  I have yet to find one that I like better than Isagenix.</p>
      </div>
    </div>
    <br><br>



    <div class="tile">
      <div class="tile-icon">

          <figure class="avatar avatar-lg">
          <img src="assets/if_128 (1)_40993.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>



      </div>
      <div class="tile-content">
        <p class="tile-title">Not Cooking Tonight</p>
        <p class="tile-subtitle text-gray">Everyone is making comments about their dieting choices, and I just want to find a restaurant w/a menu I won't feel doubly guilty about.</p>
      </div>
    </div>
<br><br>


    <div class="tile">
      <div class="tile-icon">

          <figure class="avatar avatar-lg">
          <img src="assets/if_avatar_103310.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>



      </div>
      <div class="tile-content">
        <p class="tile-title">Juiced & Raw</p>
        <p class="tile-subtitle text-gray">Don't be afraid to ask your Server where they source their vegetables from, and if they aren't buying locally as much as possible: eat somewhere else!</p>
      </div>
    </div>
<br><br>



    <div class="tile">
      <div class="tile-icon">

          <figure class="avatar avatar-lg">
          <img src="assets/if_andrew_60496.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>



      </div>
      <div class="tile-content">
        <p class="tile-title">Pioneer Stalker</p>
        <p class="tile-subtitle text-gray">If you love the Zuppa Toscana from Olive Garden, the Pioneer Woman has a simple recipe for making it and it tastes exactly the same!</p>
      </div>
    </div>
    <br><br>


    <div class="tile">
      <div class="tile-icon">

          <figure class="avatar avatar-lg">
          <img src="assets/if_avatar_45168.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>



      </div>
      <div class="tile-content">
        <p class="tile-title">Meat Stick</p>
        <p class="tile-subtitle text-gray">I don't mind a good veggie burger now and then, but there's no way I'll be convinced to cut meat out of my diet ever!</p>
      </div>
    </div>
<br><br>


    <div class="tile">
      <div class="tile-icon">

          <figure class="avatar avatar-lg">
          <img src="assets/if_Purple_Monsters_8-01_248862.png" alt="JS">
          <i class="avatar-presence online"></i>
          </figure>



      </div>
      <div class="tile-content">
        <p class="tile-title">Veggie Brain</p>
        <p class="tile-subtitle text-gray">Hot Tomato is serving a gluten free pizza option that is better than the bread option, & this comes from someone who LOVES bread!!!</p>
      </div>
    </div>
<br><br>



    <!-- add comment input at bottom as sticky footer in this panel? -->
  </div>


















</div>  <!-- end ProfileController -->
