<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Foodie Path Register page</title>
  </head>
  <body>
    <header>
      <h1>FoodiePath</h1>
    </header>
    <form action="/sessions/register" method="POST">
      Username: <input type="text" name="username" placeholder="username" required><br/>
      Password: <input type="password" name="password" value="" required><br/>
      <button>Register</button><br/>
    </form>
    <a href="/">Home</a>
  </body>
</html>
