<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>FoodiePath</h1>
    <p>this will house whatever content we'd like displayed for the user</p>
    <form>
        <input type="button" value="Logout" onclick="window.location.href='/sessions/logout'"/>
        <input type="button" value="Home" onclick="window.location.href='/'"/>
      </form>
  </body>
</html>
