<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Foodie Path Users New page</title>
  </head>
  <body>
    <h1>Create Account</h1>
    <form action="/users" method="POST">
      Username: <input type="text" name="username" placeholder="username"/>
      Password: <input type="password" name="password"/>
      <input type="Submit" value="Create Account"/>
    </form>
  </body>
</html>
